.u
  &-sticky
    position: sticky
    top: unitRes(20, 40)

  &-overflow
    overflow: hidden

  &-block
    display: block

  &-inlineBlock
    display: inline-block

  &-flex
    display: flex

  &-relative
    position: relative

  &-hide
    display: none

  &-textCenter
    text-align: center

  &-bold
    font-weight: $weightBold

  &-super
    font-weight: $weightSuper

  &-img
    width: 100%
    height: auto
    display: block

    img, picture
      width: 100%
      height: auto
      display: block

  &-divider
    height: 1px
    background: $clBorder
    width: 100%

  &-mh-g
    margin-top: 3.125vw
    margin-bottom: 3.125vw

  &-mt-g
    margin-top: 3.125vw

  &-mb-g
    margin-bottom: 3.125vw

  &-mh-lg
    margin-top: unitRes(80, 200)
    margin-bottom: unitRes(80, 200)

  &-mt-lg
    margin-top: unitRes(80, 200)

  &-mb-lg
    margin-bottom: unitRes(80, 200)

  &-mh-md
    margin-top: unitRes(60, 160)
    margin-bottom: unitRes(60, 160)

  &-mt-md
    margin-top: unitRes(60, 160)

  &-mb-md
    margin-bottom: unitRes(60, 160)

  &-mh-mi
    margin-top: unitRes(60, 120)
    margin-bottom: unitRes(60, 120)

  &-mt-mi
    margin-top: unitRes(60, 120)

  &-mb-mi
    margin-bottom: unitRes(60, 120)

  &-mh-sm
    margin-top: unitRes(40, 80)
    margin-bottom: unitRes(40, 80)

  &-mt-sm
    margin-top: unitRes(40, 80)

  &-mb-sm
    margin-bottom: unitRes(40, 80)

  &-mh-xs
    margin-top: unitRes(20, 40)
    margin-bottom: unitRes(20, 40)

  &-mt-xs
    margin-top: unitRes(20, 40)

  &-mb-xs
    margin-bottom: unitRes(20, 40)

  &-mh-ts
    margin-top: unitRes(10, 20)
    margin-bottom: unitRes(10, 20)

  &-mt-ts
    margin-top: unitRes(10, 20)

  &-mb-ts
    margin-bottom: unitRes(10, 20)

  &-mh-0
    margin-top: 0
    margin-bottom: 0

  &-mt-0
    margin-top: 0

  &-mb-0
    margin-bottom: 0

  &-mb-col
    margin-bottom: unitRes(20, 40)

  &-mt-col
    margin-top: unitRes(20, 40)

  &-mh-col
    margin-top: unitRes(20, 40)
    margin-bottom: unitRes(20, 40)

  &-text-xs
    font-size: $fontSize-small

  &-text-md
    font-size: $fontSize-medium

  &-text-lg
    font-size: unitRes(28, 36)

  &-list-unstyled
    list-style-type: none

  &-clearfix:after
    visibility: hidden
    display: block
    font-size: 0
    content: ' '
    clear: both
    height: 0

  &-active
    a
      &.is-active
        color: $clPrimary

  &-cl-primary
    color: $clPrimary

  &-cl-secondary
    color: $clSecondary

  &-cl-info
    color: $clInfo

  &-cl-success
    color: $clSuccess

  &-cl-warning
    color: $clWarning

  &-cl-danger
    color: $clDanger

  &-cl-black
    color: $clBlack

  &-cl-white
    color: $clWhite

  &-lineHeight
    line-height: 1

  &-fontTiny
    font-size: $sizing.tiny

  &-fontSmall
    font-size: $sizing.small

  &-fontNormal
    font-size: $sizing.normal

  &-fontLarge
    font-size: $sizing.large

  &-fontMassive
    font-size: $sizing.massive

  &-flex-center
    justify-content: center !important

  &-flex-space
    display: flex !important
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

  &-title
    position: relative
    display: inline-flex
    z-index: 2

    &:after
      content: ''
      width: 1.4em
      height: 0.3em
      display: block
      background: $clSecondary
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%) skewY(-30deg)
      z-index: -1

  &-none-mobile
    +mq($until: 'mobile')
      display: none
